.chatMessage {
    font-size: 0.875em;
    max-width: 70%;
    padding: 10px;
    white-space: pre-wrap;
    text-align: left;
}

.chasitor {
    color: #FFF;
    background: #005290;
    margin-left: auto;
    border-radius: 10px 10px 0;
    float: right;
}

.agent {
    margin-left: 40px;
    border-radius: 10px 10px 10px 0;
    float: left;
}

.agent.plainText {
    color: #333;
    background: #f4f4f4;
}

.richText {
    border: 1px solid #AAA;
}

.youtube, .image, .url {
    max-width: 100%;
}

.youtube iframe, .image img, .url img {
    max-width: 100%;
    border: 0;
}

.url {
    position: relative;
    padding: 0;
    margin-right: 40px;
    border-radius: 10px;
    border: 1px solid #DDD;
}

.url a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.url img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.url .ogpInfo {
    padding: 5px;
    color: #333;
}

.url .ogpInfo .title {
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

.url .ogpInfo .description {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #3e3e3c;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.url .ogpInfo .site_name {
    margin-top: 10px;
    font-size: .75rem;
    color: #3e3e3c;
}